@use "../../scss/colors.scss" as *;
.movieContainer {
	align-items: center;
	border-radius: 12px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	max-width: 1500px;
	margin: 0 auto;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	img {
		border-radius: 12px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;
		-o-border-radius: 12px;
	}
}
.closeBtn {
	cursor: pointer;
	z-index: 20;
	position: absolute;
	top: 2rem;
	right: 0.5rem;
	border: 1px solid $borderColor;
	padding: 8px;
	color: $shrekColor;
	background-color: $backGroundColor;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}
