@use "../../scss/colors.scss" as *;
.overview {
	max-width: 1500px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	&_desc {
		// h2 {
		// 	font-weight: 500;
		// 	color: $headingColor;
		// 	letter-spacing: 1px;
		// 	padding-bottom: 0.5rem;
		// }
	}
}
// * xs */
@media (min-width: 475px) {
}
/* sm */
@media (min-width: 640px) {
}
/* md */
@media (min-width: 768px) {
}
/* lg */
@media (min-width: 1024px) {
	.overview {
		flex-direction: row;
		&_desc {
			width: 50%;
			h2 {
				text-align: center;
			}
		}
		&_li {
			width: 50%;
		}
	}
}
/* xl */
@media (min-width: 1280px) {
}
/* 2xl */
@media (min-width: 1536px) {
}
