@use "../../scss/colors.scss" as *;
.sectionAdvantages {
	max-width: 1500px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	padding: 1rem 0;
	.advantageContainer {
		text-align: center;
		.imageContainer {
			display: flex;
			justify-content: center;
		}
		.content span {
			font-size: 28px;
			color: $headingColor;
			font-weight: 700 !important;
		}
	}
}
// * xs */
@media (min-width: 475px) {
}
/* sm */
@media (min-width: 640px) {
}
/* md */
@media (min-width: 768px) {
	.sectionAdvantages {
		padding: 2rem 0;
	}
}
/* lg */
@media (min-width: 1024px) {
	.sectionAdvantages {
		padding: 3rem 0;
	}
}
/* xl */
@media (min-width: 1280px) {
	.sectionAdvantages {
		padding: 4rem 0;
	}
}
/* 2xl */
@media (min-width: 1536px) {
}
