$blueColor: #1f9be3;
$bodyColor: #696866;
$yellocolor: #ffc107;
$orangeColor: #ffa826;
$headingColor: #413f3d;
$shrekColor: #abaa6c;
$browColor: #ce7847;
$whiteColor: #fff;
$blackColor: #000;
$greyPrimary: #696666;
$borderColor: #d6d6be;
$backGroundColor: #f8f8f1;
//* Button
$buttonPrimary: #e8e6d2;
$buttonDark: #212529;
