@use "./colors.scss" as *;
@mixin Paragraph {
	color: $bodyColor;
	font-size: 16px;
	letter-spacing: 1px;
	width: 95%;
	padding: 0.5rem 0;
}
@mixin HeadingSecondary {
	font-weight: 500;
	color: $headingColor;
	letter-spacing: 1px;
	padding-bottom: 0.5rem;
}
